In [61]:
import pandas as pd
import numpy as np

In [62]:
df = pd.read_excel('supermarket_transactions.xlsx')
df

,Unnamed: 0,id,timestamp,quantity,product_id,product_name,unit_price,total_amount,store,payment_method,customer_id,customer_type
0,0,47d54138-a950-4ec0-9d4a-e637e8dfb290,2022-04-28 09:11:00,10,56b274d1-b2a4-47be-abaf-6c1c7742beb9,wheat,0.39,3.90,South Billyview,cash,c2b9eddd-df8c-446a-ae34-50ad88f28e0a,non-member
1,1,dea298b1-26ca-4a43-bcef-4050fb74ce1d,2019-12-06 16:21:00,1,56b274d1-b2a4-47be-abaf-6c1c7742beb9,wheat,0.39,0.39,South Edward,contactless,134a3c2c-8ccc-494c-9916-a15ff10a9125,member
2,2,8dcd78f6-2e68-4fe3-9bb0-afe3bb2c3944,2019-06-22 15:27:00,10,56b274d1-b2a4-47be-abaf-6c1c7742beb9,wheat,0.39,3.90,South Billyview,contactless,a310b698-4e34-4a4a-8c60-e72fad63f9ba,gold
3,3,261c100c-b121-44b7-bc03-787f396c2061,2020-08-16 18:14:00,8,56b274d1-b2a4-47be-abaf-6c1c7742beb9,wheat,0.39,3.12,South Michaelfurt,credit card,0dfaced3-271c-4da0-80fc-fd3de4328bd5,corporate
4,4,7d025b4d-caac-40a5-b954-63cd7bd20f92,2019-11-12 15:46:00,1,56b274d1-b2a4-47be-abaf-6c1c7742beb9,wheat,0.39,0.39,Christopherfurt,cash,b05efb3f-c38e-4b86-8366-32e42340a4dc,gold
...,...,...,...,...,...,...,...,...,...,...,...,...
50778,50778,c4bc79ce-38d1-4b73-b4d7-cac30f725bd7,2019-08-18 13:38:00,6,6b0422ab-32e0-496e-9dae-c39b6dc2b659,marshmallow,1.95,11.70,East Suzanneside,cash,16f8e0f6-9388-4914-ad65-fced93ae3940,non-member
50779,50779,4fcac6ba-764f-42c2-bded-3ee1fe100e8b,2020-01-24 10:59:00,5,6b0422ab-32e0-496e-9dae-c39b6dc2b659,marshmallow,1.95,9.75,Charlesbury,contactless,a7a34a85-742d-4186-a167-481386405e6a,gold
50780,50780,611afd71-1397-4794-9d88-dc1aa59b4c4d,2021-03-18 14:34:00,3,6b0422ab-32e0-496e-9dae-c39b6dc2b659,marshmallow,1.95,5.85,North Sarah,debit card,13f33aef-f3a1-4916-b15b-e97ff9e8f1d5,corporate
50781,50781,7991468e-450e-40a6-893f-d66845c5046c,2022-06-12 17:42:00,10,6b0422ab-32e0-496e-9dae-c39b6dc2b659,marshmallow,1.95,19.50,New Richard,debit card,1e1086a0-9880-4ecd-a72e-61864573b81e,corporate
50782,50782,d62c3b38-fb7e-4906-ad5b-d8c29cb067d8,2022-04-29 10:21:00,5,6b0422ab-32e0-496e-9dae-c39b6dc2b659,marshmallow,1.95,9.75,Jordanmouth,debit card,2b15f0d6-1229-4521-bf4d-c69adabeacd1,premium

In [63]:
df = df.drop(labels='Unnamed: 0', axis=1)

In [64]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50783 entries, 0 to 50782
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              50783 non-null  object
 1   timestamp       50783 non-null  datetime64[ns]
 2   quantity        50783 non-null  int64
 3   product_id      50783 non-null  object
 4   product_name    50783 non-null  object
 5   unit_price      50783 non-null  float64
 6   total_amount    50783 non-null  float64
 7   store           50783 non-null  object
 8   payment_method  50783 non-null  object
 9   customer_id     50783 non-null  object
 10  customer_type   50783 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(7)
memory usage: 4.3+ MB

In [65]:
apples_df = df[['product_name', 'quantity','store', 'payment_method','customer_id']]
apples_df = apples_df.set_index(keys='store')
apples_df

,product_name,quantity,payment_method,customer_id
store,,,,
South Billyview,wheat,10,cash,c2b9eddd-df8c-446a-ae34-50ad88f28e0a
South Edward,wheat,1,contactless,134a3c2c-8ccc-494c-9916-a15ff10a9125
South Billyview,wheat,10,contactless,a310b698-4e34-4a4a-8c60-e72fad63f9ba
South Michaelfurt,wheat,8,credit card,0dfaced3-271c-4da0-80fc-fd3de4328bd5
Christopherfurt,wheat,1,cash,b05efb3f-c38e-4b86-8366-32e42340a4dc
...,...,...,...,...
East Suzanneside,marshmallow,6,cash,16f8e0f6-9388-4914-ad65-fced93ae3940
Charlesbury,marshmallow,5,contactless,a7a34a85-742d-4186-a167-481386405e6a
North Sarah,marshmallow,3,debit card,13f33aef-f3a1-4916-b15b-e97ff9e8f1d5
New Richard,marshmallow,10,debit card,1e1086a0-9880-4ecd-a72e-61864573b81e
Jordanmouth,marshmallow,5,debit card,2b15f0d6-1229-4521-bf4d-c69adabeacd1

In [66]:
apples_df = apples_df[(apples_df['product_name'] == 'apple') & (apples_df['payment_method'] == 'cash')]
apples_df = apples_df.reset_index()
apples_df

,store,product_name,quantity,payment_method,customer_id
0,South Billyview,apple,10,cash,9de2834c-9a6b-4682-b314-8ec31063ee06
1,West Stefanie,apple,4,cash,247e3a5a-8a7a-4c81-80a6-a58145e70621
2,East Suzanneside,apple,10,cash,6ddfef12-449a-4fe5-b39d-a4fe9cb41925
3,Alexmouth,apple,6,cash,362aefa6-5787-4638-9518-c4b4cd22b5f3
4,South Michaelfurt,apple,9,cash,d9510380-1173-499b-9af9-89c72e677382
5,Tracyton,apple,7,cash,39e3bf46-f81a-46a4-8fcd-f5b170be5e49
6,South Cynthia,apple,10,cash,4cabee79-ace3-46d9-8ac8-b2efa6839cef
7,Swansonfurt,apple,10,cash,9b56ad91-16cf-4544-a4e7-8a6c45a7d80c
8,Swansonfurt,apple,5,cash,e4a9d44b-4b38-4125-a39a-548ee4b73d15
9,South Cynthia,apple,8,cash,c2d33c82-24c6-4fdb-adcd-03d816387dc9
10,Andersonland,apple,1,cash,a4bc9f06-3e28-4c2d-8fb7-dfb6ff7bfa7d
11,South Billyview,apple,2,cash,88f775e1-949c-4770-923f-d330f4b2cf72
12,South Edward,apple,8,cash,cf672bc3-34b3-4766-9c58-65ae1f12b377
13,South Michaelfurt,apple,1,cash,3659e2e6-19d0-40bd-b195-e9680ef54322
14,Erichaven,apple,7,cash,f58ffb4f-07b2-473e-bbc4-88edbc07f787
15,Julieview,apple,3,cash,39229f7a-455e-4a41-b10e-9a5c82b5a86e
16,Port Angela,apple,2,cash,f99b7f6d-a47c-482d-af2d-e1a67018327f
17,Jordanmouth,apple,4,cash,544e771e-0ed7-4307-8e62-7b579dc5fcd6
18,Lake Bryan,apple,8,cash,a0ee4aca-0ea3-42cb-b4d5-f1a0202d24ba
19,Swansonfurt,apple,2,cash,36574b3b-8973-4e0c-bbfc-46e7dafff36d

In [67]:
apples_df['quantity'].sum()

np.int64(117)

In [68]:
cash_df = apples_df
cash_df = cash_df.merge(df[['total_amount','customer_id']], how="left", on='customer_id')
cash_df

,store,product_name,quantity,payment_method,customer_id,total_amount
0,South Billyview,apple,10,cash,9de2834c-9a6b-4682-b314-8ec31063ee06,45.90
1,West Stefanie,apple,4,cash,247e3a5a-8a7a-4c81-80a6-a58145e70621,18.36
2,East Suzanneside,apple,10,cash,6ddfef12-449a-4fe5-b39d-a4fe9cb41925,45.90
3,Alexmouth,apple,6,cash,362aefa6-5787-4638-9518-c4b4cd22b5f3,27.54
4,South Michaelfurt,apple,9,cash,d9510380-1173-499b-9af9-89c72e677382,41.31
5,Tracyton,apple,7,cash,39e3bf46-f81a-46a4-8fcd-f5b170be5e49,32.13
6,South Cynthia,apple,10,cash,4cabee79-ace3-46d9-8ac8-b2efa6839cef,45.90
7,Swansonfurt,apple,10,cash,9b56ad91-16cf-4544-a4e7-8a6c45a7d80c,45.90
8,Swansonfurt,apple,5,cash,e4a9d44b-4b38-4125-a39a-548ee4b73d15,22.95
9,South Cynthia,apple,8,cash,c2d33c82-24c6-4fdb-adcd-03d816387dc9,36.72
10,Andersonland,apple,1,cash,a4bc9f06-3e28-4c2d-8fb7-dfb6ff7bfa7d,4.59
11,South Billyview,apple,2,cash,88f775e1-949c-4770-923f-d330f4b2cf72,9.18
12,South Edward,apple,8,cash,cf672bc3-34b3-4766-9c58-65ae1f12b377,36.72
13,South Michaelfurt,apple,1,cash,3659e2e6-19d0-40bd-b195-e9680ef54322,4.59
14,Erichaven,apple,7,cash,f58ffb4f-07b2-473e-bbc4-88edbc07f787,32.13
15,Julieview,apple,3,cash,39229f7a-455e-4a41-b10e-9a5c82b5a86e,13.77
16,Port Angela,apple,2,cash,f99b7f6d-a47c-482d-af2d-e1a67018327f,9.18
17,Jordanmouth,apple,4,cash,544e771e-0ed7-4307-8e62-7b579dc5fcd6,18.36
18,Lake Bryan,apple,8,cash,a0ee4aca-0ea3-42cb-b4d5-f1a0202d24ba,36.72
19,Swansonfurt,apple,2,cash,36574b3b-8973-4e0c-bbfc-46e7dafff36d,9.18

In [69]:
cash_df['total_amount'].sum()

np.float64(537.0299999999997)

In [70]:
bakershire_expenditure_df = df[['customer_type', 'payment_method','store','total_amount']]
bakershire_expenditure_df = bakershire_expenditure_df[(bakershire_expenditure_df['customer_type'] == 'non-member') & (bakershire_expenditure_df['store'] == 'Bakershire')]
bakershire_expenditure_df = bakershire_expenditure_df.reset_index(drop=True)
bakershire_expenditure_df

    customer_type payment_method       store  total_amount
0      non-member           cash  Bakershire          4.98
1      non-member    contactless  Bakershire          4.29
2      non-member           cash  Bakershire         43.90
3      non-member    contactless  Bakershire         30.73
4      non-member    credit card  Bakershire         12.90
..            ...            ...         ...           ...
174    non-member    contactless  Bakershire          5.90
175    non-member     debit card  Bakershire         17.70
176    non-member           cash  Bakershire          0.95
177    non-member     debit card  Bakershire          3.80
178    non-member    contactless  Bakershire          4.99

[179 rows x 4 columns]

In [71]:
bakershire_expenditure_df['total_amount'].sum()

np.float64(2857.5099999999993)

In [73]:
with pd.ExcelWriter("analysis.xlsx", engine="xlsxwriter") as writer:
    df.to_excel(writer, sheet_name="Raw_Data", index=False)
    apples_df.to_excel(writer, sheet_name="apples_purchased_in_cash_data", index=False)
    cash_df.to_excel(writer, sheet_name="total_cash_spendings_on_apples", index=False)
    bakershire_expenditure_df.to_excel(writer, sheet_name="money_spent_at_bakershire_data", index=False)